# MQTT settings (required)
MQTT_BROKER_HOST=localhost    # change to your broker
MQTT_BROKER_PORT=1883
MQTT_TOPIC=home/weather/stats          # keep for any extra raw data (optional)

# Specific sensor topics (leave empty if you don't use that sensor)
MQTT_TEMP_TOPIC=homeassistant-casa/sensor/weerstation_outdoor_temperature/state
MQTT_HUM_TOPIC=homeassistant-casa/sensor/weerstation_outdoor_humidity/state
MQTT_WIND_DIR_TOPIC=homeassistant-casa/sensor/nedis_wifiwest500wt_weather_station_wind_direction/state
MQTT_WIND_SPEED_TOPIC=homeassistant-casa/sensor/nedis_wifiwest500wt_weather_station_wind_speed_avg/state

# Webcam (required)
WEBCAM_SOURCE=http://vidserver/image/CameraSD                    # 0 = USB webcam, or http://your-cam-ip/snapshot.jpg for IP cam
CAPTURE_INTERVAL=60                # seconds between captures

# Forecast (highly recommended)
LATITUDE=51.52885603275747                  # your location (Google "my latitude")
LONGITUDE=-0.1193979315133033

# Web server
WEB_PORT=5000

# Optional (advanced)
MQTT_QOS=0